@font-face { font-family: Neue Haas Grotesk Display; src: url("fonts/NeueHaasDisplayRoman.ttf"); }
@font-face { font-family: Comic Sans; src: url("fonts/comic.ttf"); }


:root{
  --font-display: "Neue Haas Grotesk Display";

  --main-color: #f2fffe;
  --active-color: #7dd8c0;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  /* VARIABLES */
  font-family: var(--font-display);
}

html{
  background-color: #141414;
  color: var(--main-color);
}

.app {
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  align-items: center;
}

.comic-sans{
  font-family: Comic Sans;
}

.double-container{
  transition: all 0.15s ease-in;
}

.active{
  color: var(--active-color);
  text-shadow: var(--active-color) 0px 0px 5px 0.5;
}

.head{
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.head em{
  letter-spacing: 0.35px;
}

.body{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.navbar {
  display: flex;
  max-width: 50%;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: var(--main-color);
}

a:visited {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

a:active {
  text-decoration: none;
  color: var(--active-color);
}

.button{
  height: 2.5rem;
  margin: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 12rem;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  
  overflow: hidden;
  outline: 1px solid #fff5;
  background-color: #fff1;

  user-select: none;

  text-align: center;
  align-items: center;

  transition: all 0.2s cubic-bezier(0.275, 0.485, 0, 1);
}

.button h2, a{
  text-align: center;
  margin: auto;
}

.button:hover {
  outline: 3px solid #fff;
  outline-offset: 2px;
  background-color: #fff4;
  cursor: pointer;
}

.search {
  background: #1f2123;
  max-width: 13rem;
  min-width: 13rem;
  align-items: center;
  margin: auto;

  outline: 1px solid #fff5;
  
  transition: all 0.2s cubic-bezier(0.275, 0.485, 0, 1);
}

.search:hover {
  outline: 3px solid #fff;
}

.search input{
  flex: 1;
  background: none;
  color: #f2fffe;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
  margin: auto;

  text-align: center;

  border: none;
  outline: none;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  padding: 6px;
  margin: 1rem auto;
  justify-content: center;

  outline: 2px solid #fff;
  border-radius: 4px;
}

.game-tile{
  background-color: #fff3;
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
  float: left;
  margin: 6px 12px;
  margin: 0.4rem;
  
  display: flex;
  transition: all 0.3s cubic-bezier(0.275, 0.485, 0, 1);
}

.game-tile span{
  font-size: 22px;
  font-weight: 500;
  margin: auto;

  font-family: Comic Sans;

  user-select: none;
}

.game-tile.empty{
  background-color: #fff1;
  z-index: 0;
  position: relative;
}